.header {
  width: 1800px;
}

.item-list li i {
  margin-right: 10px;
  font-size: 18px;
}

.head-title {
  color: #333333;
  font-weight: 800;
  font-size: 30px;
}

.item-list li a {
  list-style: none;
  width: 100%;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}

.item-list {
  display: none;
  padding: 0;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 25px;
  top: 60px;
}
