.header1{
    height: 100px;
    background: blueviolet;
    padding: 10px;
}

nav>ul>li{
    padding: 0px 145px 0px 0px;
}
nav>ul>li:hover{
    display: block;
    background: pink;
}
.menu_left1{
    width: 300px;
    float: left;
    margin-left: 15px;
    font-weight: bold;
}
.menu_left1>a:hover{
    display: inline-block;
    background: pink;
}
.menu_left1>nav>ul>li:hover{
    display: inline-block;
    background: pink;
}
.footer1{
    height: 70px;
    background: blueviolet;
}
.dd1{
    width: 600px;
}
.content1{
    padding: 30px;
}
.dd3{color: black;}